@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*colors*/
$grey-back: rgb(101, 101, 101);

$bluesky-bg: rgb(17, 133, 254);
$linkedin-bg: rgb(0, 126, 187);

/*fonts*/
@mixin montserrat() {
  font-family: "montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}