@use 'partials/constants';

.footer {
  display: flex;
  justify-content: center;

  $padding: 15px;
  padding-top: $padding;
  padding-bottom: $padding;

  font-size: 1.25rem;
  font-weight: 400;
  color: white;

  background-color: constants.$grey-back;

  //thin screen
  @media screen and (max-width: 800px) {
    #footer-content {
      flex-direction: column;

      .footer-info {
        margin-left: 0;
      }
    }
  }
  // wide screen
  @media screen and (min-width: 801px) {
    #footer-content {
      flex-direction: row;
      width: 800px;

      .footer-info {
        margin-left: 60px;
      }
    }
  }

  #footer-content {
    display: flex;
    margin: 0 5vw 0 5vw;

    .footer-photo-wrapper {
      width: 242.7px;
      height: 150px;
    
      img {
        height: 100%;
        width: 100%;

        object-fit: cover;
      }
    }

    .footer-info {
      
      .footer-title {
        display: flex;
        align-items: center;

        .socials-list {
          display: flex;
          align-items: center;
  
          list-style: none; //remove bullet points
    
          margin-left: 1rem;
          column-gap: 1rem;
          
          $item-height: 2rem;
  
          li {
            height: $item-height;
  
            a {
              display: flex;
              align-items: center;
              justify-content: center;
  
              height: $item-height;
              width: $item-height;
  
              border-radius: 50%;
  
              transition: background-color 300ms;
  
              img {
                height: $item-height;
  
                border-radius: 50%;
              }
  
              .linkedin-img,
              .bluesky-img {
                height: calc($item-height / 1.25);
  
                border-radius: 0;
              }
            }
    
            .bluesky-link:hover {
              background-color: constants.$bluesky-bg;
            }
            .linkedin-link:hover {
              background-color: constants.$linkedin-bg;
            }
          }
        }
      }

      .contact-info {
        display: flex;
        flex-direction: column;

        list-style: none;

        font-weight: 300;
        font-size: 1rem;

        margin-top: 10px;
      }
    }
  }
}