@use './partials/reset';
@use './general.scss';
@use './partials/constants';

$offset: min(4.5vw, 42px);

.nav-bar {
  #full-page-menu-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 75;

    #full-page-menu {
      display: flex;
      align-items: center;
      
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: max(25vw, 40px);

      background-color: white;
  
      #full-page-menu-contents {
        display: flex;
        flex-direction: column;


        list-style: none;
  
        width: 100%;

        font-size: 1.2rem;

        li {
          padding: 1.5rem 0 1.5rem 50px;

          cursor: pointer;

          &:hover {
            background-color: rgb(200, 200, 200);
          }
        }
      }
    }
  }
}

// nav bar stuff
//wide screen
@media screen and (min-width: 44em) {
  .nav-bar {
    position: absolute;
    top: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    #menu-button {
      display: none;
    }
  
    .nav-bar-box {
      position: fixed;

      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 40px; 

      $top-bottom-padding: 10px;
      $right-left-padding: 25px;
      padding: $top-bottom-padding $right-left-padding;

      list-style: none; //remove bullet points
  
      border-radius: 50px;
      // border-width: 1px;
      // border-style: solid;
      // border-color: rgb(120, 120, 120);
  
      background-color: white;

      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  
      z-index: 10;

      font-size: 1.25rem;
    }
  }
}
//thin screen
@media screen and (max-width: 43.99em) {
  .nav-bar {
    position: relative;

    $exit-enter-button-size: 45px;
    $exit-enter-button-offset: 10px;

    #menu-button {
      position: absolute;
      top: $exit-enter-button-offset;
      right: $exit-enter-button-offset;  

      display: flex;
      align-items: center;
      justify-content: center;

      height:  $exit-enter-button-size;
      width:  $exit-enter-button-size;

      border-style: none;
      $border-radius: 25%;
      border-radius: $border-radius;

      background-color: rgba(0, 0, 0, 0);

      z-index: 100;

      cursor: pointer;

      svg {
        height: $exit-enter-button-size;
        width: $exit-enter-button-size;
        border-radius: $border-radius;
      }
    }

    .nav-bar-box {
      display: none;
    }
  }
}

#content {
  $switch-wide-to-thin: 650px;
  $switch-tall-to-short: 650px;

  #cover-photo-container {
    position: relative;
    height: max(67vw);
  
    $max-height: 60vh;
    $min-height: 20rem;
  
    max-height: $max-height;
    min-height: $min-height;

    #cover-photo-contents {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      @media screen and ((min-width: $switch-wide-to-thin) and (min-height: $switch-tall-to-short)) {
        #profile-pic-cover-container {
          $dimensions: min(calc(30vh - 50px), 300px);
          height: $dimensions;
          width: $dimensions;
  
          overflow: hidden;
  
          border-radius: 50%;
          border-style: solid;
          border-color: white;
          border-width: 5px;
  
          // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
          #profile-pic-cover {
            height: 100%;
            width: 100%;
  
            transform: scale(2);
            transform-origin: 62% 5%;
  
            object-fit: cover;
          }
        }
      }
      @media screen and ((max-width: calc($switch-wide-to-thin - 1px)) or (max-height: calc($switch-wide-to-thin - 1px))) {
        #profile-pic-cover-container {
          display: none;
        }
      }

      #cover-photo-name-container {
        font-size: 2.75rem;
        font-weight: 700;
        color: white;
        text-align: center;
  
        padding: 0 15px 0 15px;
  
        .description {
          font-size: 1.25rem;
        }
      }
    }
  
    #cover-photo {
      display: block;
  
      width: 100%;
      height: 100%;
  
      max-height: $max-height;
      min-height: $min-height;
  
      object-fit: cover;
      object-position: 50% 100%;
    }
  }
  
  #body-text-section {
    display: flex;

    width: 100%;

    $item-margin: 5vw;

    margin-top: min(5vw, 40px);
    margin-bottom: min(5vw, 40px);

    //big enough on both
    @media screen and ((min-width: $switch-wide-to-thin) and (min-height: $switch-tall-to-short)) {
      flex-direction: row;
      justify-content: center;
    
      #profile-pic-body-container {
        display: none;
      }
  
      #body-text {
        margin: 0 $item-margin 0 $item-margin;
      }
    }
    
    // too short or too thin
    @media screen and ((max-width: calc($switch-wide-to-thin - 1px)) or (max-height: calc($switch-wide-to-thin - 1px))) {
      #profile-pic-body-container {
        display: flex;
        justify-content: center;

        margin-top: 40px;
  
        #profile-pic-body {        
          height: 230px;
          width: 175px;
          object-fit: cover;
          object-position: 55% 50%;
        }
      }
    }

    //too short but not too thin
    @media screen and ((not (max-width: calc($switch-wide-to-thin - 1px))) and (max-height: calc($switch-wide-to-thin - 1px))) {
      flex-direction: row;
      justify-content: center;
      column-gap: 50px;

      #profile-pic-body-container {
        margin-left: $item-margin;
      }
      #body-text {
        margin-right: $item-margin;
      }
    }

    // too thin
    @media screen and (max-width: calc($switch-wide-to-thin - 1px)) {
      flex-direction: column;

      #body-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        $margin-left-right: 30px;
        $margin-top-bottom: 20px;
        margin: $margin-top-bottom $margin-left-right $margin-top-bottom $margin-left-right;
      }
    }

    #body-text {
      font-size: 1.25rem;

      p {    
        max-width: 50rem;

        margin-top: 0.4rem;
      }

      h3 {
        margin: 3rem 0 1rem 0;
      }
    }
  }
}