<button id="menu-button">
  <svg id="menu-icon" class="closed" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="square">
    <line x1="4" y1="6" x2="20" y2="6" class="top"></line>
    <line x1="4" y1="12" x2="20" y2="12" class="middle"></line>
    <line x1="4" y1="18" x2="20" y2="18" class="bottom"></line>
  </svg>
</button>
<ol class="nav-bar-box">
  <li>
    <a class="link-secondary home-link" href="/">Home</a>
  </li>
  <li>
    <a class="link-secondary research-interests-link" href="research-interests.html">Research Interests</a>
  </li>
  <li>
    <a class="link-secondary publications-link" href="publications.html">Publications</a>
  </li>
  <li>
    <a class="link-secondary cv-link" href="cv.html">CV</a>
  </li>
  <li>
    <a class="link-secondary lets-talk-link" href="lets-talk.html">Let's Talk!</a>
  </li>
</ol>
<div id="full-page-menu-container" class="closed-page-container">
  <div id="full-page-menu">
    <ol id="full-page-menu-contents">
      <li>
        <a class="home-link" href="/"><p>Home</p></a>
      </li>
      <li>
        <a class="research-interests-link" href="research-interests.html"><p>Research Interests</p></a>
      </li>
      <li>
        <a class="publications-link" href="publications.html"><p>Publications</p></a>
      </li>
      <li>
        <a class="cv-link" href="cv.html"><p>CV</p></a>
      </li>
      <li>
        <a class="lets-talk-link" href="lets-talk.html"><p>Let's Talk!</p></a>
      </li>
    </ol>
  </div>
</div>